* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan";
}

body {
  background-color: #f2f2f2;
}

#header {
  width: 100vw;
  background-color: #5CA5A5;
}

#header_desktop {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#remove {
  position: absolute;
  left: 264px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #7C8F8F;
  cursor: pointer;

}

#close {
  width: 32px;
  height: 32px;
  background-color: #5CA5A5;
  color: #FFFFFF;
  border-radius: 0px 4px 4px 0px;
  padding-top: 9px;
  text-align: center;
  cursor: pointer;
}

#main_box {
  display: flex;
  flex-direction: row;
}

.upper_div {
  position: relative;
  display: none;
  grid-template-columns: auto auto auto;
  flex-direction: row; 
  top: -59px; 
  width: 327px;
  height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  padding: 20px; 
  align-items: center;
  align-content: space-between;
  justify-content: start;
  gap: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 327px;
  height: 257px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  margin-bottom: 40px;
  padding-left: 19px;
}

.box:nth-of-type(2) {
  margin-top: 56px;
  border-left: 5px #5ca5a5 solid;
}

.box:nth-of-type(3) {
  border-left: 5px #5ca5a5 solid;
}

h5 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: black;
}

#tools {
    width: 200px;
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 16px;
    margin-bottom: 24px;

}

#small {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: #7c8f8f;
}

h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
  color: #5ca5a5;
}

p {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #2b3939;
}

#profile {
  position: relative;
  top: -24px;
  width: 48px;
  height: 48px;
}

#small_boxes {
    display: block;
    width: fit-content;
    height: 32px;
    padding: 5px;
    background: #5CA5A5;
    
    border-radius: 4px;
    
    cursor: pointer;
    opacity: 0.5;
}

.active {
    width: 100px;
    height: 100px;
    background-color: black;
}

#hr {
  width: 279px;
  border-top: 1px #b7c4c4 solid;
}

#language {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: #5ca5a5;
}

#newString {
  display: block;
  width: 51px;
  height: 25px;
  background-color: #5CA5A5;
  border-radius: 12px;
  text-align: center;
  padding: 6px;
  margin-left: 1rem;
}

#featuredString {
  width: 79px;
  height: 24px;
  border-radius: 12px;
  background-color: #2B3939;
  text-align: center;
  padding: 5px;
  color: #ffffff;
  margin-left: 1rem;

}

#first_div {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  align-items: center;
}

@media only screen and (min-width: 769px) {
  
  #header {
    display: none;
  }

  #header_desktop {
    display: block;
    width: 100%;
    background-color: #5CA5A5;
  }

  .box {
    flex-direction: row;
    align-items: center;
    width: 1110px;
    height: 152px;
    background: #FFFFFF;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
    border-radius: 5px;
    margin-left: 0;
  }

  #profile {
    top: 0;
    width: 88px;
    height: 88px;
  }

  #hr {
    display: none;
  }

  #tools {
    display: flex;
    
    position: relative;
    justify-content: flex-end;
    left: 48px;    
  }

  #first_div {
    display: flex;   
    justify-content: flex-start;   
  }
  
  .upper_div {
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 1110px;
    height: 72px;
    top: -40px;
  }

  h6 {
    font-size: 18px;
  }

  #small  {
    font-size: 18px;
  }

  p {
    font-size: 22px;
  }

  #desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -160px;
  }

  #remove {
    position: absolute;
    left: 93%;
  }


}