* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "League Spartan";
}

body {
  background-color: #f2f2f2;
}

#header {
  width: 100vw;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 327px;
  height: 257px;
  box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
  border-radius: 5px;
  margin-bottom: 40px;
  padding-left: 19px;
}

.box:nth-of-type(1) {
  margin-top: 56px;
  border-left: 5px #5ca5a5 solid;
}

.box:nth-of-type(2) {
  border-left: 5px #5ca5a5 solid;
}

h5 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: black;
}

#tools {
    width: 200px;
    height: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
    margin-bottom: 24px;

}

#small {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: #7c8f8f;
}

h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 12px;
  color: #5ca5a5;
}

p {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #2b3939;
}

#profile {
  position: relative;
  top: -24px;
  width: 48px;
  height: 48px;
}

#small_boxes {
    display: ;
    width: fit-content;
    height: 32px;
    padding: 5px;
    background: #5CA5A5;
    mix-blend-mode: normal;
    border-radius: 4px;
    opacity: 0.6;
}

.active {
    width: 100px;
    height: 10px;
    background-color: black;
}

#hr {
  width: 279px;
  border-top: 1px #b7c4c4 solid;
}

#language {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.123077px;
  color: #5ca5a5;
}
